.game-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Centrerar innehållet */
  padding: 0 2rem;
}

.game-text {
  font-family: Georgia, serif;
  font-weight: 600;
  color: darkslateblue;
  text-align: center;
  margin-bottom: 1.5rem;
}

.game-description-box {
  border-top: 3px solid darkslateblue;
  border-bottom: 3px solid darkslateblue;
  margin: 4vh 0 2vh 0;
  padding: 1rem 0;
  width: 100%;
  max-width: 600px;
}

.info {
  font-weight: 400;
  font-size: medium;
}

.game-start-button {
  margin-top: 5vh;
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  color: #000000;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  padding: .75rem 1.65rem;
  max-width: 460px;
  width: 100%;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  position: relative;
}

.game-start-button:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.game-start-button:hover:after {
  bottom: 2px;
  left: 2px;
}

.profile-container {
  margin-bottom: 3rem;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  overflow: hidden;
}

.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .text-center {
      max-width: 700px;
      padding: 0 1rem;
      margin: 0 auto;
  }

  .game-description-box {
      max-width: 600px;
  }

  .game-start-button {
      font-size: 1.25rem;
      padding: 1rem 2rem;
  }
}

@media (min-width: 1024px) {
  .text-center {
      max-width: 800px;
      padding: 0 1rem;
      margin: 0 15vw 0 0; 
  }

  .game-description-box {
      max-width: 650px;
  }

  .game-start-button {
      max-width: 500px;
  }
}

@media (min-width: 1300px) {

  .text-center {
    max-width: 80vw;
    padding: 0 1rem;
    margin: 0 12vw 0 0; 
}
}