
.homelink {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    align-self: flex-start;
    justify-self: flex-start;
}

.homelink-icon {
    width: 3rem;
}

.text-container {
    padding: 2.5rem 0;
    display: block;
    align-items: flex-start;
    background-color: white;
    border-width: 1px;
    border-style: outset;
    border-color: black;
}

.headline {
    padding: 0 2rem;
}

.text {
    padding: 0 2rem;
}

.link {
    padding: 0 0.5rem;
}

.downloadPDF-icon {
    height: 2rem;
}

.socialLink-container {
    display: block;
    justify-content: flex-start;
    padding: 2rem 0 0 1.5rem;
}

.githubIcon {
    align-self: center;
    width: 50px;
}

.linkedInIcon {
    width: 50px;
}

.downloadLinks-container{
    margin: 2rem 0;
}

.downloadable {
    display: block;
    font-weight: 600;
    padding-left: 2rem;
}

.downloadName {
    display: inline-block;
    padding-left: 1rem;
}



@media (min-width: 768px) {

    .text-container {
        max-width: 85vw;
        margin-left: 6vw;
        border: none;
    }
    .homelink {
        position: absolute;
        top: 2vh;
        left: 2vw;
    }
    .text {
        width: 65vw;
    }
}

@media (min-width: 1024px) {

    .text-container {
        max-width: 80vw;
        margin-left: 15vw;
        border: none;
    }
    .homelink {
        position: absolute;
        top: 2vh;
        left: 2vw;
    }
    .text {
        width: 60vw;
    }
}